.header{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}
header *{
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
header > span{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header > div{
    border: 1px solid blue;
    width: 100px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 90%;
    flex-wrap: wrap;
}
header nav ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
}
header li{
    list-style: none;
    text-align: center;
}
header > span div > span{
    height: 60px;
    width: 80px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(15, 71, 226);
    font-size: 1.1rem;
    font-weight: bold;
}
header div span img{
    width: 30px;
    height: 30px;
}
header li a{
    padding: 5px 15px;
    border-radius: 10px;
}
header .sec_eu{
    min-height: 400px;
    width: 100%;
    display: flex;
}
header .sec_eu article{
    min-height: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
header .sec_eu article *{
    margin: .5% 0%;
}
header .sec_eu article h1{
    font-size: 2rem;
}
header .sec_eu p{
    font-weight: 600;
    color: rgb(129, 127, 127);
    margin: 2% 0%;
}
.red_color{
    color: var(--red_color);
}
.green_color{
    color: var(--green_color);
}
.yellow_color{
    color: var(--yellow_color);
}
.photo_me{
    height: 300px;
    width: 250px;
    background-image: url(eu1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 70%;
}
.photo_me_div{
    position: relative;
    height: 300px;
    width: 250px;
    
    transform: rotate(0deg);
}

.photo_me span{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
.photo_me span img{
    width: 100%;
    height: 100%;
}
.photo_me span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
}
.bt_box{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;

}
.bt_box ol{
    display: flex;
    min-width: 50px ;
}
.bt_box li{
    width: 20px;
    height: 20px;
    margin-left: .5rem !important;
    cursor: pointer;
}
.bt_box li img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.js1{
    top: 0px;
    left: -60px;
}
.html{
    top: 80px;
    left: -40px;
}
.css{
    bottom: 40px;
    right: -20px;
    border-radius: 100% !important;
    background-color: white;
    overflow: hidden;
}
.css img{
    width: 70% !important;
    height: 70% !important;
}
.js{
    /* mongo */
    left: -15px;
    top: 170px;
    border-radius: 100% !important;
    background-color: white;
    overflow: hidden;
}
.js img{
    width: 70% !important;
    height: 70% !important;
}

.php{
    right: 60px;
    bottom: -30px;
    border-radius: 100% !important;
    background-color: white;
    overflow: hidden;
}
.php img{
    width: 70% !important;
    height: 70% !important;
}
.sql{
    /* git */
    bottom: 5px;
    left: 45px;
    border-radius: 100% !important;
    background-color: white;
    overflow: hidden;
}
.sql img{
    width: 70% !important;
    height: 70% !important;
}

